<section id="404" class="container-fluid text-center w-100 h-100 d-flex align-items-center" style="margin-top: 15em;">
  <div class="w-100">
    <img class="img-fluid" src="../img/visualdnb.png"/>
    <h2 style="margin-top: 3em;">ERREUR 404 !</h2>
    <p>Fais attention à ton URL !</p>
    <p><a class="back" href="javascript:history.back()">Retour vers la page principale</a></p>
  </div>
</section>
