<nav id="navigation" class="container-fluid navbar navbar-expand-lg navbar-dark sticky-top justify-content-center text-center">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav d-flex justify-content-around">
      <li class="nav-item btn-2">
        <a class="nav-link" href="/admin/visuel">Visuel</a>
      </li>
      <li class="nav-item btn-2">
        <a class="nav-link" href="/admin/prog">Programmé avec</a>
      </li>
      <li class="nav-item btn-2">
        <a class="nav-link" href="/admin/article">Article</a>
      </li>
      <li class="nav-item btn-2">
        <a class="nav-link" href="/admin/showroom">Showroom</a>
      </li>
      <li class="nav-item btn-2">
        <a class="nav-link" href="/admin/media">Media</a>
      </li>
      <li class="nav-item btn-2">
        <a class="nav-link active" href="/admin/membres">Membres<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item btn-2">
        <a class="nav-link" style="color: red" href="/admin/se-deconnecter">Se déconnecter</a>
      </li>
    </ul>
  </div>
</nav>

<section>
  <form action="/admin/membres" method="POST">
    <div class="row text-center">
      <div class="col-12 col-md-6">
        <input type="text" name="urlPicture" placeholder="Picture" value=""><br><br>
        <input type="text" name="urlNom" placeholder="Nom image" value=""><br><br>
        <input type="text" name="nom" placeholder="Nom texte" value=""><br><br>
        <input type="text" name="urlSerial" placeholder="Visual Serial" value=""><br><br>
        <input type="text" name="skills" placeholder="Technical skills" value=""><br><br>
        <input type="email" name="contact" placeholder="Contact" value=""><br><br>
        <input type="text" name="site" placeholder="Web Site" value=""><br><br>
        <textarea name="description" placeholder="Description"></textarea><br><br>
        <!-- SOUNDCLOUD -->
        <input type="text" name="urlSound" placeholder="Soundcloud" value=""><br><br>
        <!-- PHOTOS -->
        <input type="text" name="purl1" placeholder="image url1" value=""><br><br>
        <input type="text" name="purl2" placeholder="image url2" value=""><br><br>
        <input type="text" name="purl3" placeholder="image url3" value=""><br><br>
        <input type="text" name="purl4" placeholder="image url4" value=""><br><br>
        <input type="text" name="purl5" placeholder="image url5" value=""><br><br>
        <input type="text" name="purl6" placeholder="image url6" value=""><br><br>
        <input type="text" name="purl7" placeholder="image url7" value=""><br><br>
        <input type="text" name="purl8" placeholder="image url8" value=""><br><br>
        <input type="text" name="purl9" placeholder="image url9" value=""><br><br>
        <input type="text" name="purl10" placeholder="image url10" value=""><br><br>
        <!-- VIDEOS -->
        <input type="text" name="vurl1" placeholder="video url1" value=""><br><br>
        <input type="text" name="vurl2" placeholder="video url2" value=""><br><br>
        <input type="text" name="vurl3" placeholder="video url3" value=""><br><br>
        <input type="submit" class="btn btn-success" value="Envoyer">
      </div>
  </form>

      <div class="row col-12 col-md-6">
        {{#each membres}}
        <div class="col-6">
          <h4>{{this.nom}}</h4>
          <p>{{this.urlSerial}}</p>
          <a href="edit-membre/{{this._id}}">Modifier</a>
          <a href="delete-membre/{{this._id}}">Supprimer</a><hr>
        </div>
        {{/each}}
      </div>
    </div>

</section>
