<form action="/admin" method="POST" class="text-center" style="padding-top:20%">
  <input type="text" name="username" placeholder="Username" required><br><br>
  <input type="password" name="password" placeholder="Password" required><br><br>
  <input id="adminButton" type="submit" class="btn btn-success" value="Envoyer">
</form>

<br>

<div class="offset-5 col-2 text-center">
  <hr>
</div>

<br>

<div class="col-12 text-center">
    <a href="/"><input class="btn btn-danger" type="button" value="Retour au site"></a>
</div>
