@media (min-height: 650px) and (max-height: 900px) {
  body #header #topVid {
    height: 125%;
    overflow: hidden;
    top: -8em; }
  body #header #vimButton button {
    font-size: 30px; }
  body #showroom .next, body #showroom .prev {
    font-size: 7em; }
  body #membre #membreId #membreDesc {
    margin-top: 1em;
    height: 100%; }
    body #membre #membreId #membreDesc #description {
      height: 100%; }
  body #membre #membreContent #pictures {
    height: 100%; }
    body #membre #membreContent #pictures img {
      padding: 0px 10px 20px 10px;
      max-width: 15em;
      height: auto; }
  body #membre #membreContent #sound {
    min-height: 50%; }
    body #membre #membreContent #sound * {
      max-height: 50%; }
  body #membre #membreContent #videos {
    padding-bottom: 2em; } }
@media (min-width: 910px) {
  body #header #topVid {
    top: -8em; }
  body #header #vimButton button {
    font-size: 50px; }
  body #showroom .next, body #showroom .prev {
    font-size: 10em; }
  body #membre #membreContent #pictures {
    height: 100%; }
    body #membre #membreContent #pictures img {
      padding: 0px 10px 20px 10px;
      max-width: 15em;
      height: auto; }
  body #membre #membreContent #sound {
    min-height: 100%; }
    body #membre #membreContent #sound * {
      height: 100%; } }
body {
  background-color: #070C0C;
  color: #E5E5E4;
  z-index: 0;
  position: static; }
  body section {
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: #070C0C;
    z-index: 10; }
  body h3 {
    font-size: 2em;
    padding-top: 1em;
    padding-bottom: 0.5em; }
  body i {
    color: #05b72f; }
  body .row {
    margin: 0px; }
  body .container-fluid {
    padding: 0px; }
  body .toBig {
    color: #E5E5E4;
    transition: all 280ms ease-in-out; }
  body .toBig:hover {
    color: #E5E5E4;
    letter-spacing: 0.2em;
    transition: all 400ms ease-in-out; }
  body .toBigMod {
    color: #070C0C;
    transition: all 280ms ease-in-out; }
  body .toBigMod:hover {
    color: #070C0C;
    letter-spacing: 0.2em;
    transition: all 400ms ease-in-out; }
  body .bgFirst {
    background: url("../img/bgFirst.png") center fixed; }
  body .bgOver {
    background-color: transparent;
    background: url("../img/bgOver.png") center repeat; }
  body .filter {
    background-color: rgba(7, 12, 12, 0.8); }
  body .filter1 {
    background: linear-gradient(#070C0C, rgba(7, 12, 12, 0.9)); }
  body .filter2 {
    background: linear-gradient(rgba(7, 12, 12, 0.9), rgba(7, 12, 12, 0.8)); }
  body .filter3 {
    background: linear-gradient(rgba(7, 12, 12, 0.8), rgba(7, 12, 12, 0.9)); }
  body .filter4 {
    background: linear-gradient(rgba(7, 12, 12, 0.9), #070C0C); }
  body .bubble2 {
    width: 8em;
    height: 8em;
    border-radius: 100%;
    padding: 20px; }
  body .bubble {
    width: 10em;
    height: 10em;
    border-radius: 100%;
    padding: 20px;
    border: none;
    transition: all 280ms ease-in-out;
    transform: rotate(-360deg); }
  body .bubble:hover {
    transition: all 280ms ease-in-out;
    transform: rotate(360deg);
    border: 0.5em solid rgba(5, 183, 47, 0.5);
    width: 11em;
    height: 11em; }
  body .hover-shadow {
    transition: 0.3s; }
  body .hover-shadow:hover {
    transform: scale(1.15);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  body .back {
    color: #05b72f;
    transition: all 280ms ease-in-out;
    font-size: 1.2em; }
  body .back:hover {
    transition: all 280ms ease-in-out;
    letter-spacing: 0.3em;
    font-size: 0.8em; }
  body .slick-prev:before,
  body .slick-next:before {
    color: #05b72f; }
  body hr {
    background-color: #E5E5E4;
    color: #E5E5E4;
    margin: 0; }

#header #topVid {
  overflow: hidden;
  z-index: -50;
  display: block;
  position: fixed;
  height: 115%;
  width: 100%;
  top: -1em; }
#header #vimButton {
  position: relative;
  top: 90%; }
  #header #vimButton button {
    transition: width 350ms ease-in-out;
    background-color: transparent;
    border: none;
    outline: none; }
  #header #vimButton button:hover {
    cursor: pointer;
    border: none;
    opacity: 0.8; }

#navigation {
  z-index: 20;
  background-color: rgba(7, 12, 12, 0.955);
  font-size: 1em;
  width: 100%; }
  #navigation div, #navigation ul {
    width: 100%; }
  #navigation button {
    cursor: pointer;
    height: 1.5em;
    margin: 0;
    border: 0;
    background-color: transparent; }
    #navigation button img {
      height: 1.5em; }
  #navigation .btn-2:after,
  #navigation .btn-2:before {
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
    color: #05b72f; }
  #navigation .btn-2:hover:after,
  #navigation .btn-2:hover:before {
    backface-visibility: hidden;
    border-color: #05b72f;
    color: #05b72f;
    transition: width 350ms ease-in-out;
    width: 70%; }
  #navigation .btn-2:hover:before {
    bottom: auto;
    top: 0;
    width: 70%; }

#trans1, #trans3, #trans2 {
  transition: background-size 20ms linear;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat; }

#trans1, #trans3 {
  background-size: 100%; }

#trans2 {
  background-size: 125%; }

#about {
  z-index: 10;
  height: auto;
  padding-top: 2em;
  padding-bottom: 2em; }
  #about img {
    padding-bottom: 1em; }

#booked {
  background-color: #070C0C;
  max-width: 100%;
  height: auto; }

#presta {
  padding-bottom: 2em;
  height: auto;
  width: 100%; }
  #presta #slideSizer {
    padding-left: 2em;
    padding-right: 2em; }
  #presta #da-slider h4, #presta .da-slider h4 {
    font-size: 20px; }

#insta {
  height: auto;
  width: 100%; }
  #insta #instafeed {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 2em; }
    #insta #instafeed a {
      color: #E5E5E4; }
    #insta #instafeed .feed {
      max-height: 25em;
      width: auto;
      padding-left: 1em; }
    #insta #instafeed p {
      padding-top: 1em; }
  #insta #instafeed:before {
    background: url("../img/bgOver.png") center fixed no-repeat;
    background-size: cover; }

#showroom {
  background-color: #070C0C; }
  #showroom .buttons {
    padding: 1em; }
  #showroom .prev, #showroom .next {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    outline: none; }
  #showroom button:hover {
    cursor: pointer;
    border: none;
    opacity: 0.8; }
  #showroom .focus {
    max-height: 90%;
    width: auto; }
  #showroom .display {
    height: 100%;
    width: auto; }
  #showroom p {
    height: 100%; }

#contact {
  padding-bottom: 3em; }
  #contact #contactForm {
    background-color: #070C0C; }
    #contact #contactForm input, #contact #contactForm textarea {
      margin: 1em 0px 1em 0px; }
  #contact input[type=text], #contact input[type=email] {
    background-color: #070C0C;
    color: #05b72f;
    height: 2.5em;
    border-radius: 1em;
    transition: all 280ms ease-in-out; }
  #contact textarea {
    background-color: #070C0C;
    color: #05b72f; }
  #contact input[type=text]:focus, #contact input[type=email]:focus, #contact textarea:focus {
    background-color: #E5E5E4;
    color: #070C0C;
    font-weight: bold;
    transition: all 280ms ease-in-out; }
  #contact #submit {
    height: 3em;
    border: none;
    background: #05b72f;
    border-radius: 50px;
    transition: all 280ms ease-in-out; }
  #contact #submit:hover {
    color: #E5E5E4;
    border: none;
    box-shadow: 0 0 0 2px #E5E5E4, 0 0 0 4px #05b72f;
    background: #048522;
    transition: all 280ms ease-in-out; }
  #contact #calendrier {
    background-color: #070C0C; }
  #contact #calendrier iframe {
    width: 100%;
    border-color: #05b72f; }

#infos {
  color: #070C0C; }
  #infos img {
    max-width: 50%;
    right: 25%; }

footer {
  margin: 0;
  height: 100px;
  background-color: #070C0C; }
  footer p {
    font-size: 0.8em;
    width: 100%;
    height: 100%; }
  footer i {
    color: #E5E5E4; }

#post {
  padding: 0; }
  #post .bg {
    background: url("../img/Page_Perso_Assets_BG_V1.png") center repeat fixed; }

#postHeader {
  padding-bottom: 3em; }
  #postHeader .container {
    max-width: 90%; }
    #postHeader .container img {
      padding-top: 3em;
      padding-bottom: 3em;
      max-height: 800px;
      min-height: 500px; }

#postText #postSubText {
  border-radius: 5%;
  padding: 0;
  background: url("../img/Page_Perso_Assets_BG_V2.png") center repeat fixed; }
  #postText #postSubText #postTitle h2 {
    font-size: 3em;
    padding-bottom: 0.5em;
    padding-top: 0.5em; }
  #postText #postSubText #postTitle p {
    margin-bottom: 0; }
  #postText #postSubText #postContent {
    padding-top: 3em;
    padding-bottom: 2em; }

#postPics {
  max-width: 80%;
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: rgba(7, 12, 12, 0.6); }
  #postPics * {
    border-radius: 5%; }
  #postPics .filter {
    padding-top: 2em; }
    #postPics .filter div {
      padding-bottom: 2em; }
  #postPics img {
    max-height: 300px;
    width: auto;
    cursor: pointer; }
  #postPics p {
    width: 100%;
    text-align: center; }

#postModal, .modal-content, .modal-dialog, .modal-body {
  min-width: 80%;
  height: auto; }

#membreBg {
  border-radius: 5%;
  padding: 0;
  max-width: 90%;
  background: url("../img/Page_Perso_Assets_BG_V2.png") center fixed; }

#membreId {
  height: 100%;
  padding-bottom: 1em; }
  #membreId #membrePic {
    max-height: 100%;
    width: auto;
    padding: 20px 0px 0px 0px; }
  #membreId #membreDetails {
    max-height: 100%;
    padding: 20px 0px 0px 20px; }
    #membreId #membreDetails #membreNom img {
      max-height: 5em; }
    #membreId #membreDetails #membreSerial {
      padding-bottom: 0.5em; }
      #membreId #membreDetails #membreSerial img {
        height: 1em; }
    #membreId #membreDetails #membreLink {
      height: 5%; }
  #membreId #membreDesc {
    height: 100%; }
    #membreId #membreDesc #description {
      margin-top: 2em;
      height: 100%; }

#membreContent {
  height: 100%;
  padding: 0.5em; }
  #membreContent #pictures {
    height: 100%; }
    #membreContent #pictures img {
      padding: 0px 10px 20px 10px;
      max-width: 12em;
      height: auto; }
  #membreContent #picModal {
    width: auto;
    height: 100%; }
    #membreContent #picModal #picFocus {
      width: auto;
      height: 100%; }
  #membreContent #sound {
    padding-bottom: 2em; }
  #membreContent #videos {
    padding-top: 2em;
    padding-bottom: 2em; }
    #membreContent #videos .vidContent {
      min-height: 300px; }
      #membreContent #videos .vidContent iframe {
        width: 100%;
        height: 100%;
        padding: 10px; }

#adminLogo, #adminAudreact, #adminBumpers, #adminVJing {
  padding-top: 1em;
  padding-bottom: 2em;
  height: 100%; }
  #adminLogo form, #adminAudreact form, #adminBumpers form, #adminVJing form {
    width: 100%;
    height: 100%;
    display: inline-block;
    align-items: center;
    text-align: center; }
  #adminLogo .content, #adminAudreact .content, #adminBumpers .content, #adminVJing .content {
    max-width: 50%; }
    #adminLogo .content img, #adminAudreact .content img, #adminBumpers .content img, #adminVJing .content img {
      max-height: 100px;
      width: auto;
      padding-bottom: 5px; }
  #adminLogo iframe, #adminAudreact iframe, #adminBumpers iframe, #adminVJing iframe {
    height: auto; }

/*# sourceMappingURL=style.css.map */
